#banner {
        padding: 135px 0;
}
.navbar{
        background-color: #C0C0C0;
}

body {
    font-family: "Helvetica Neue","Open Sans",Helvetica,Arial,sans-serif;
    font-size: 17px;
    line-height: 1.628571;
}

